{
  "openapi": "3.0.1",
  "info": {
    "title": "Visa Direct request to pay",
    "description": "",
    "version": "1"
  },
  "servers": [
    {
      "url": "https://sandbox.api.visa.com",
      "description": "Sandbox server"
    }
  ],
  "security": [],
  "tags": [
    {
      "name": "Request Control ",
      "description": "Request Control (Request to Pay)"
    },
    {
      "name": "Request to Pay",
      "description": "Request to Pay"
    },
    {
      "name": "Request to Pay Outbound",
      "description": "Request to Pay Outbound"
    }
  ],
  "paths": {
    "/rtx/api/outbound/v1/requestToPay/{paymentRequestId}/confirm": {
      "patch": {
        "tags": [
          "Request to Pay Outbound"
        ],
        "summary": "Confirm R2P",
        "description": "Confirm Request to Pay is used by payer service providers to provide an initial update to Visa on the status of the Request to Pay based on their initial processing and/or interaction with the end user. It is also used by payee service providers to be notified by Visa of these updates.",
        "operationId": "ConfirmR2P",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/core_vdp_contentType"
            }
          },
          {
            "name": "keyID",
            "in": "header",
            "description": "VDP project key ID used to identify associated encryption keys.",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/core_vdp_keyId"
            }
          },
          {
            "name": "x-request-affinity",
            "in": "header",
            "description": "Visa provided value for transaction affinity handling. This value is provided during the Initiate Request to Pay API flow.",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/core_request_affinity"
            }
          },
          {
            "name": "paymentRequestId",
            "in": "path",
            "description": "Request to Pay transaction ID previously provided by Visa.",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/r2p_paymentRequestId"
            }
          }
        ],
        "requestBody": {
          "description": "*Confirm Request to Pay* is used by payer service providers to provide an initial update to Visa on the status of the R2P based on their initial processing and/or interaction with the end user.\n\nIt is also used by payee service providers to be notified by Visa of these updates.\n\n---\n",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/confirmR2pRequest"
              },
              "examples": {
                "Request to Pay declined": {
                  "summary": "Request to Pay declined",
                  "value": {
                    "statusReason": "RJ02",
                    "transactionStatus": "RJCT",
                    "paymentRequestId": "RFP01314",
                    "requestMessageId": "GG9983636387737JH",
                    "message": "Rejected by Payer",
                    "endToEndId": "RFPid0001",
                    "creationDateTime": "2020-12-17T09:30:47Z"
                  }
                },
                "Request to pay partially settled": {
                  "summary": "Request to pay partially settled",
                  "value": {
                    "acceptedAmount": 100,
                    "transactionStatus": "ACCP",
                    "settlementDetails": {
                      "creditorAccountDetail": {
                        "primaryAccountNumber": "4145124125553222"
                      },
                      "settlementSystem": "VISA_DIRECT",
                      "debtorAccountDetail": {
                        "debtorTaxId": "ABCDE1234567890",
                        "primaryAccountNumber": "4145124125553555"
                      },
                      "settledAmountCurrency": "UAH",
                      "settlementSystemReferenceId": "VIP1111155555",
                      "settledAmount": 10,
                      "settlementSystemReferenceType": "RRN"
                    },
                    "paymentRequestId": "RFP01314",
                    "requestMessageId": "GG9983636387737JH",
                    "endToEndId": "RFPid0001",
                    "acceptedAmountCurrency": "UAH",
                    "creationDateTime": "2020-12-17T09:30:47Z"
                  }
                },
                "Request to Pay accepted": {
                  "summary": "Request to Pay accepted",
                  "value": {
                    "acceptedAmount": 100,
                    "transactionStatus": "ACSC",
                    "settlementDetails": {
                      "creditorAccountDetail": {
                        "primaryAccountNumber": "4145124125553222"
                      },
                      "settlementSystem": "VISA_DIRECT",
                      "debtorAccountDetail": {
                        "debtorTaxId": "ABCDE1234567890",
                        "primaryAccountNumber": "4145124125553555"
                      },
                      "settledAmountCurrency": "UAH",
                      "settlementSystemReferenceId": "VIP1234567890",
                      "settledAmount": 100,
                      "settlementSystemReferenceType": "RRN"
                    },
                    "paymentRequestId": "RFP01314",
                    "requestMessageId": "GG9983636387737JH",
                    "endToEndId": "RFPid0001",
                    "acceptedAmountCurrency": "UAH",
                    "creationDateTime": "2020-12-17T09:30:47Z"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response Payload from the Payee service provider to Visa.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/confirmR2pResponse"
                },
                "examples": {
                  "Request to Pay declined": {
                    "summary": "Request to Pay declined",
                    "value": {
                      "responseMessageId": "DF3287943984732SH",
                      "transactionStatus": "RJCT",
                      "paymentRequestId": "RFP01314",
                      "requestMessageId": "GG9983636387737JH",
                      "endToEndId": "RFPid0001",
                      "creationDateTime": "2020-12-17T09:30:48Z"
                    }
                  },
                  "Request to pay partially settled": {
                    "summary": "Request to pay partially settled",
                    "value": {
                      "responseMessageId": "DF3287943984732SH",
                      "transactionStatus": "ACCP",
                      "paymentRequestId": "RFP01314",
                      "requestMessageId": "GG9983636387737JH",
                      "endToEndId": "RFPid0001",
                      "creationDateTime": "2020-12-17T09:30:48Z"
                    }
                  },
                  "Request to Pay accepted": {
                    "summary": "Request to Pay accepted",
                    "value": {
                      "responseMessageId": "DF3287943984732SH",
                      "transactionStatus": "ACSC",
                      "paymentRequestId": "RFP01314",
                      "requestMessageId": "GG9983636387737JH",
                      "endToEndId": "RFPid0001",
                      "creationDateTime": "2020-12-17T09:30:48Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        },
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1rtx~1api~1outbound~1v1~1requestToPay~1{paymentRequestId}~1confirm/patch",
            "default": false
          }
        ],
        "x-hideSample": true,
        "x-hideTryIt": true
      }
    },
    "/rtx/api/outbound/v1/requestToPay/transaction/tag": {
      "post": {
        "tags": [
          "Request to Pay Outbound"
        ],
        "summary": "Transaction Tagging",
        "description": "Transaction Tagging",
        "operationId": "TransactionTaggingOutbound",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/core_vdp_contentType"
            }
          },
          {
            "name": "keyID",
            "in": "header",
            "description": "VDP project key ID used to manage access to the Transaction Tagging service and identify associated encryption keys.",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/core_vdp_keyId"
            }
          },
          {
            "name": "x-request-affinity",
            "in": "header",
            "description": "Visa provided value for transaction affinity handling.",
            "required": false,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/core_request_affinity"
            }
          }
        ],
        "requestBody": {
          "description": "*Transaction Tagging* enables users to attach or tag specific information to a transaction. Currently, it can be used by a payee/creditor to send a payment acknowledgment to the payer /debtor.\n\nIt is also used by Visa to notify debtor agents of these updates.\n\n---\n",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionTaggingRequest-1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response Payload from Visa to the Payer service provider."
          },
          "400": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponseTagTxn"
                }
              }
            }
          }
        },
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1rtx~1api~1outbound~1v1~1requestToPay~1transaction~1tag/post",
            "default": false
          }
        ],
        "x-hideSample": true,
        "x-hideTryIt": true
      }
    },
    "/rtx/api/outbound/v1/requestToPay/{originalPaymentRequestId}/refund": {
      "post": {
        "tags": [
          "Request to Pay Outbound"
        ],
        "summary": "Refund R2P",
        "description": "Refund a Request to Pay",
        "operationId": "RefundR2Poutbound",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/core_vdp_contentType"
            }
          },
          {
            "name": "keyID",
            "in": "header",
            "description": "VDP project key ID used to identify associated encryption keys.",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/core_vdp_keyId"
            }
          },
          {
            "name": "x-request-affinity",
            "in": "header",
            "description": "Visa provided value for transaction affinity handling. This value is provided for use in subsequent calls related to the Request to Pay transactions.",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/core_request_affinity"
            }
          },
          {
            "name": "originalPaymentRequestId",
            "in": "path",
            "description": "Original Payment RequestId is provided in parent transaction by Visa for which refund is requested.",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/r2p_originalPaymentRequestId"
            }
          }
        ],
        "requestBody": {
          "description": "*Refund Request to Pay* is used by payee service providers to create Refund R2P transactions for their end users. It is also used by payer service providers to be notified by Visa of R2P transactions relevant to their end users.\n\nThe request payload for an *Refund Request to Pay* contains the basic elements required to process a Refund Request. These include creditor/payee details,paymentRequests and options that the creditor can accept to settle the request (e.g. creditor card).\n\n---\n",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/refundR2pRequest_fromVisa-2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The response payload for an Refund Request to Pay provides the status of the Request to Pay transactions initiated together with the Visa references for them.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/refundR2pResponse-1"
                }
              }
            }
          },
          "400": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                },
                "examples": {
                  "Unknown Payer": {
                    "value": {
                      "code": "RC4000",
                      "details": [
                        {
                          "field": "debtorAlias",
                          "reason": "unknownEntity"
                        }
                      ],
                      "message": "Payer not reachable",
                      "creationDateTime": "2020-12-17T09:30:48Z",
                      "requestMessageId": "GG9983636387737JH",
                      "responseMessageId": "DF3287943984732SH"
                    }
                  }
                }
              }
            }
          }
        },
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1rtx~1api~1outbound~1v1~1requestToPay~1{originalPaymentRequestId}~1refund/post",
            "default": false
          }
        ],
        "x-hideSample": true,
        "x-hideTryIt": true
      }
    },
    "/rtx/api/outbound/v1/requestToPay/{paymentRequestId}/cancel": {
      "patch": {
        "tags": [
          "Request to Pay Outbound"
        ],
        "summary": "Cancel R2P",
        "description": "Cancel a Request to Pay",
        "operationId": "CancelR2Poutbound",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/core_vdp_contentType"
            }
          },
          {
            "name": "x-request-affinity",
            "in": "header",
            "description": "Visa provided value for transaction affinity handling. This value is provided during the Initiate Request to Pay API flow.",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/core_request_affinity"
            }
          },
          {
            "name": "keyID",
            "in": "header",
            "description": "VDP project key ID used to identify associated encryption keys.",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/core_vdp_keyId"
            }
          },
          {
            "name": "paymentRequestId",
            "in": "path",
            "description": "Request to Pay transaction ID previously provided by Visa.",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/r2p_paymentRequestId"
            }
          }
        ],
        "requestBody": {
          "description": "*Cancel Request to Pay* is used by the creditor agent to cancel previously raised Request To Pay. It can be used to cancel any requests to pay that is not in a terminal status such as RJCT.\n\nIt is also used by Visa to notify debtor agents of the cancellation.\n\n---\n",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/cancelR2pRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response Payload from Payer Service Provider to Visa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cancelR2pResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        },
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1rtx~1api~1outbound~1v1~1requestToPay~1{paymentRequestId}~1cancel/patch",
            "default": false
          }
        ],
        "x-hideSample": true,
        "x-hideTryIt": true
      }
    },
    "/rtx/api/outbound/v1/requestToPay": {
      "post": {
        "tags": [
          "Request to Pay Outbound"
        ],
        "summary": "Initiate R2P",
        "description": "Initiate Request to Pay is used by payer service providers to be notified by Visa of R2P transactions relevant to their end users.",
        "operationId": "InitiateR2Poutbound",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/core_vdp_contentType"
            }
          },
          {
            "name": "keyID",
            "in": "header",
            "description": "VDP project key ID used to identify associated encryption keys.",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/core_vdp_keyId"
            }
          },
          {
            "name": "x-request-affinity",
            "in": "header",
            "description": "Visa provided value for transaction affinity handling. This value is provided for use in subsequent calls related to the Request to Pay transactions.",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/core_request_affinity"
            }
          }
        ],
        "requestBody": {
          "description": "*Initiate Request to Pay* is used by payer service providers to be notified by Visa of R2P transactions relevant to their end users.\n\nThe request payload for an *Initiate Request to Pay* contains the basic elements required to process a Request to Pay. These include creditor/payee details, debtor/payer details, the request reason, and options that the creditor can accept to settle the request (e.g. creditor card or bank details).\n\n---\n",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/initiateR2pRequest_fromVisa"
              },
              "examples": {
                "Initiate Request to Pay from Visa (P2P)": {
                  "summary": "Initiate Request to Pay from Visa (P2P)",
                  "value": {
                    "product": "VD",
                    "useCase": "P2P",
                    "requestReason": {
                      "message": "For lunch",
                      "unicodeEmoji": "U+1F382"
                    },
                    "paymentRequests": [
                      {
                        "debtorLastName": "B.",
                        "debtorAlias": "+447709123457",
                        "paymentRequestId": "RFP01314",
                        "debtorAgentCountry": "UA",
                        "debtorCountry": "UA",
                        "requestedAmount": 100,
                        "requestedAmountCurrency": "UAH",
                        "endToEndId": "RFPid0001",
                        "debtorFirstName": "John",
                        "debtorAgentId": "VD123445",
                        "debtorAliasType": "MOBL"
                      }
                    ],
                    "dueDate": "2021-03-17",
                    "requestMessageId": "GG9983636387737JH",
                    "settlementOptions": [
                      {
                        "settlementSystem": "VISA_DIRECT",
                        "primaryAccountNumber": "4145124125553228"
                      }
                    ],
                    "creditor": {
                      "creditorCountry": "UA",
                      "creditorAgentId": "12379879797989",
                      "creditorAgentCountry": "UA",
                      "creditorAlias": "+1231231234",
                      "creditorLastName": "F.",
                      "creditorAliasType": "MOBL",
                      "creditorFirstName": "Alex"
                    },
                    "requestOptions": {
                      "allowMultiplePayments": true,
                      "closeWithFirstPayment": false
                    },
                    "creationDateTime": "2020-12-17T09:30:47Z"
                  }
                },
                "Initiate Request to Pay from Visa (B2C)": {
                  "summary": "Initiate Request to Pay from Visa (B2C)",
                  "value": {
                    "product": "VD",
                    "useCase": "B2C",
                    "requestReason": {
                      "references": [
                        {
                          "referenceType": "INVOICEID",
                          "referenceDate": "2023-01-15",
                          "referenceValue": "1234567890"
                        }
                      ],
                      "paymentPurpose": "SVCS",
                      "message": "For lunch",
                      "unicodeEmoji": "U+1F382"
                    },
                    "paymentRequests": [
                      {
                        "debtorLastName": "B.",
                        "debtorAlias": "+447709123457",
                        "paymentRequestId": "RFP01314",
                        "debtorAgentCountry": "UA",
                        "debtorCountry": "UA",
                        "requestedAmount": 100,
                        "requestedAmountCurrency": "UAH",
                        "endToEndId": "RFPid0001",
                        "debtorFirstName": "John",
                        "debtorAgentId": "VD123445",
                        "debtorAliasType": "MOBL"
                      }
                    ],
                    "dueDate": "2021-03-17",
                    "requestMessageId": "GG9983636387737JH",
                    "settlementOptions": [
                      {
                        "settlementSystem": "VISA_DIRECT",
                        "primaryAccountNumber": "4145124125553222"
                      }
                    ],
                    "creditor": {
                      "creditorCountry": "UA",
                      "creditorAgentId": "12379879797989",
                      "creditorAgentCountry": "UA",
                      "creditorBusinessName": "Mini-Corp Inc.",
                      "creditorAlias": "+1231231234",
                      "creditorLastName": "F.",
                      "creditorMcc": "1234",
                      "creditorAliasType": "MOBL",
                      "nationalIdentifiers": [
                        {
                          "type": "PASSPORT",
                          "value": "LB44889298222"
                        }
                      ],
                      "creditorTaxId": "HMRC1234567890",
                      "creditorFirstName": "Alex"
                    },
                    "requestOptions": {
                      "allowMultiplePayments": true,
                      "closeWithFirstPayment": false
                    },
                    "creationDateTime": "2020-12-17T09:30:47Z"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The response payload for an Initiate Request to Pay provides the status of the Request to Pay transactions initiated together with the Visa references for them. The payer service provider may supplement this with additional information to support their processing e.g. debtorId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/initiateR2pResponse-2"
                },
                "examples": {
                  "Initiate Request to Pay from Visa (P2P)": {
                    "summary": "Initiate Request to Pay from Visa (P2P)",
                    "value": {
                      "responseMessageId": "DF3287943984732SH",
                      "paymentRequests": [
                        {
                          "transactionStatus": "PDNG",
                          "paymentRequestId": "RFP01314",
                          "debtorIdType": "AGENT",
                          "endToEndId": "RFPid0001",
                          "debtorId": "BNK1234567890"
                        }
                      ],
                      "requestMessageId": "GG9983636387737JH",
                      "creationDateTime": "2020-12-17T09:30:48Z"
                    }
                  },
                  "Initiate Request to Pay from Visa (B2C)": {
                    "summary": "Initiate Request to Pay from Visa (B2C)",
                    "value": {
                      "responseMessageId": "DF3287943984732SH",
                      "paymentRequests": [
                        {
                          "transactionStatus": "PDNG",
                          "paymentRequestId": "RFP01314",
                          "debtorIdType": "AGENT",
                          "endToEndId": "RFPid0001",
                          "debtorId": "BNK1234567890"
                        }
                      ],
                      "requestMessageId": "GG9983636387737JH",
                      "creationDateTime": "2020-12-17T09:30:48Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                },
                "examples": {
                  "Unknown Payer": {
                    "value": {
                      "code": "RC4000",
                      "details": [
                        {
                          "field": "debtorAlias",
                          "reason": "unknownEntity"
                        }
                      ],
                      "message": "Payer not reachable",
                      "creationDateTime": "2020-12-17T09:30:48Z",
                      "requestMessageId": "GG9983636387737JH",
                      "responseMessageId": "DF3287943984732SH"
                    }
                  }
                }
              }
            }
          }
        },
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1rtx~1api~1outbound~1v1~1requestToPay/post",
            "default": false
          }
        ],
        "x-hideSample": true,
        "x-hideTryIt": true
      }
    },
    "/rtx/api/outbound/v1/requestToPay/{paymentRequestId}/amend": {
      "patch": {
        "tags": [
          "Request to Pay Outbound"
        ],
        "summary": "Amend R2P",
        "description": "Amend a Request to Pay",
        "operationId": "AmendR2Poutbound",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/core_vdp_contentType"
            }
          },
          {
            "name": "keyID",
            "in": "header",
            "description": "VDP project key ID used to manage access to the Request to Pay service and identify associated encryption keys.",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/core_vdp_keyId"
            }
          },
          {
            "name": "x-request-affinity",
            "in": "header",
            "description": "Visa provided value for transaction affinity handling. This value is provided during the Initiate Request to Pay API flow.",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/core_request_affinity"
            }
          },
          {
            "name": "paymentRequestId",
            "in": "path",
            "description": "Request to Pay transaction ID previously provided by Visa.",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/r2p_paymentRequestId"
            }
          }
        ],
        "requestBody": {
          "description": "*Amend Request to Pay* is used by the creditor agent to amend previously raised Request To Pay. It can be used to amend any requests to pay that is not in a terminal status such as RJCT/ACSC/CNCL/EXPD.\n\nIt is also used by Visa to notify debtor agents of these updates.\n\n---\n",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/amendR2pRequest_fromVisa"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response Payload from Payer service provider to Visa.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/amendR2pResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        },
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1rtx~1api~1outbound~1v1~1requestToPay~1{paymentRequestId}~1amend/patch",
            "default": false
          }
        ],
        "x-hideSample": true,
        "x-hideTryIt": true
      }
    },
    "/rtx/api/outbound/v1/requestToPay/notifications": {
      "post": {
        "tags": [
          "Request to Pay Outbound"
        ],
        "summary": "Notifications R2P",
        "description": "Notifications For Request to Pay",
        "operationId": "NotificationsR2Poutbound",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/core_vdp_contentType"
            }
          },
          {
            "name": "keyID",
            "in": "header",
            "description": "VDP project key ID used to manage access to the Request to Pay service and identify associated encryption keys.",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/core_vdp_keyId"
            }
          }
        ],
        "requestBody": {
          "description": "This API is used to send reminders, scheduled by the payee, to participants (and potentially their customers) regarding pending requests to pay. Additionally, the API notifies payers about other lifecycle events related to the request to pay, such as expiration and rejection of pending requests due to applied blocks.\n\n---\n",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/notificationR2pRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Got 200 as a successful request."
          },
          "400": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                },
                "examples": {
                  "Invalid Input": {
                    "value": {
                      "code": "RC2000",
                      "details": [
                        {
                          "field": "paymentRequestID",
                          "reason": "123456, 2131321, 1232131"
                        }
                      ],
                      "message": "Payment Request ID Invalid",
                      "creationDateTime": "2020-12-17T09:30:48Z",
                      "requestMessageId": "GG9983636387737JH",
                      "responseMessageId": "DF3287943984732SH"
                    }
                  }
                }
              }
            }
          }
        },
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1rtx~1api~1outbound~1v1~1requestToPay~1notifications/post",
            "default": false
          }
        ],
        "x-hideSample": true,
        "x-hideTryIt": true
      }
    },
    "/rtx/api/v1/requestToPay/referenceData": {
      "post": {
        "tags": [
          "Request to Pay"
        ],
        "summary": "Reference Data",
        "description": "This API will return reference data available (mainly participant details)",
        "operationId": "RefereneceData",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/core_vdp_contentType"
            }
          },
          {
            "name": "keyID",
            "in": "header",
            "description": "VDP project key ID used to manage access to the Request to Pay service and identify associated encryption keys.",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/core_vdp_keyId"
            }
          }
        ],
        "requestBody": {
          "description": "*Reference API* is used by service provider to get R2P program participants list from Visa.\n This API will return details of other active R2P participants such as Visa identifier and name of the participant.\n---  \n",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/referenceDataRequest-1"
              },
              "examples": {
                "Reference data": {
                  "summary": "Reference data",
                  "value": {
                    "referenceDataTypes": [
                      "availableParticipants"
                    ],
                    "requestMessageId": "ad244fssx6b43188f7ce5d5f93471db",
                    "creationDateTime": "2020-08-08T09:30:47.001Z"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response Payload from Visa to the Service Provider",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/referenceDataResponse-2"
                },
                "examples": {
                  "Reference data": {
                    "summary": "Reference data",
                    "value": {
                      "responseMessageId": "ed24aa2dad6b43188f7ce5d5f93471db",
                      "availableParticipants": [
                        {
                          "participantId": "88401234585",
                          "supportedFeatures": [
                            "REMINDER"
                          ],
                          "participantName": "AFCU"
                        }
                      ],
                      "requestMessageId": "ad244fssx6b43188f7ce5d5f93471db",
                      "creationDateTime": "2020-08-08T09:30:47.001Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                },
                "examples": {
                  "Invalid Input": {
                    "value": {
                      "code": "RC2000",
                      "details": [
                        {
                          "field": "referenceDataTypes",
                          "reason": "Invalid value"
                        }
                      ],
                      "message": "Business Validation Failure",
                      "creationDateTime": "2020-12-17T09:30:48Z",
                      "requestMessageId": "ad244fssx6b43188f7ce5d5f93471db",
                      "responseMessageId": "DF3287943984732SH"
                    }
                  }
                }
              }
            }
          }
        },
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1rtx~1api~1v1~1requestToPay~1referenceData/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/rtx/api/v1/requestToPay/{originalPaymentRequestId}/refund": {
      "post": {
        "tags": [
          "Request to Pay"
        ],
        "summary": "Refund R2P",
        "description": "Refund a Request to Pay",
        "operationId": "RefundR2P",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/core_vdp_contentType"
            }
          },
          {
            "name": "keyID",
            "in": "header",
            "description": "VDP project key ID used to manage access to the Request to Pay service and identify associated encryption keys.",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/core_vdp_keyId"
            }
          },
          {
            "name": "x-request-affinity",
            "in": "header",
            "description": "Visa provided value for transaction affinity handling. This value will be provided by Visa in the response to this API call for use in subsequent calls related to the Request to Pay transactions.",
            "required": false,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/core_request_affinity"
            }
          },
          {
            "name": "originalPaymentRequestId",
            "in": "path",
            "description": "Original Payment RequestId is provided in parent transaction by Visa for which refund is requested.",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/r2p_originalPaymentRequestId"
            }
          }
        ],
        "requestBody": {
          "description": "*Refund Request to Pay* is used by payee service providers to create Refund R2P transactions for their end users. It is also used by payer service providers to be notified by Visa of R2P transactions relevant to their end users.\n\nThis is used to raise refund request against previously settled Request to Pay. The request payload for an *Refund Request to Pay* contains the basic elements required to process a Refund Request. These include creditor/payee details,paymentRequests and options that the creditor can accept to settle the request (e.g. creditor card).\n\n---\n",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/refundR2pRequest_toVisa-1"
              },
              "examples": {
                "Refund": {
                  "summary": "Refund",
                  "value": {
                    "paymentRequests": [
                      {
                        "requestedAmount": 100,
                        "endToEndId": "RFPid0001"
                      }
                    ],
                    "requestMessageId": "GG9983636387737JH",
                    "settlementOptions": [
                      {
                        "settlementSystem": "VISA_DIRECT",
                        "primaryAccountNumber": "4145124125553228"
                      }
                    ],
                    "creditor": {
                      "creditorId": "BL1234567890",
                      "creditorIdType": "AGENT"
                    },
                    "creationDateTime": "2020-12-17T09:30:47Z"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The response payload for an Refund Request to Pay provides the status of the Request to Pay transactions initiated together with the Visa references for them.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/refundR2pResponse-1"
                },
                "examples": {
                  "Refund": {
                    "summary": "Refund",
                    "value": {
                      "responseMessageId": "DF3287943984732SH",
                      "paymentRequests": [
                        {
                          "transactionStatus": "PDNG",
                          "paymentRequestId": "RFP01314",
                          "endToEndId": "RFPid0001"
                        }
                      ],
                      "requestMessageId": "GG9983636387737JH",
                      "creationDateTime": "2020-12-17T09:30:48Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                },
                "examples": {
                  "Invalid PaymentRequestId": {
                    "value": {
                      "code": "RC2000",
                      "details": [
                        {
                          "field": "paymentRequestId",
                          "reason": "Not found"
                        }
                      ],
                      "message": "Business Validation Failure",
                      "creationDateTime": "2020-12-17T09:30:48Z",
                      "requestMessageId": "GG9983636387737JH",
                      "responseMessageId": "DF3287943984732SH"
                    }
                  }
                }
              }
            }
          }
        },
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1rtx~1api~1v1~1requestToPay~1{originalPaymentRequestId}~1refund/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/rtx/api/v1/requestToPay/{paymentRequestId}": {
      "get": {
        "tags": [
          "Request to Pay"
        ],
        "summary": "Retrieve R2P",
        "description": "The Retrieve Request to Pay API is used to retrieve the full and current details of a request to pay. While Retrieve Request to Pay is keyed using the paymentRequestId, the 'Retrieve multiple Request to Pays' API can be used where you need to use the endToEndId.",
        "operationId": "RetrieveR2P",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/core_vdp_contentType"
            }
          },
          {
            "name": "keyID",
            "in": "header",
            "description": "VDP project key ID used to manage access to the Request to Pay service and identify associated encryption keys.",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/core_vdp_keyId"
            }
          },
          {
            "name": "x-request-affinity",
            "in": "header",
            "description": "Visa provided value for transaction affinity handling. This value is provided during the Initiate Request to Pay API flow.",
            "required": false,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/core_request_affinity"
            }
          },
          {
            "name": "paymentRequestId",
            "in": "path",
            "description": "Request to Pay transaction ID previously provided by Visa.",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/r2p_paymentRequestId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "This retrieves the full details for a single Request to Pay transaction from the Visa platform.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/retrieveR2pResponse"
                },
                "examples": {
                  "Retrieve by Creditor Agent (B2C)": {
                    "summary": "Retrieve by Creditor Agent (B2C)",
                    "value": {
                      "product": "VD",
                      "responseMessageId": "GG9983636387737JH",
                      "requestReason": {
                        "references": [
                          {
                            "referenceType": "INVOICEID",
                            "referenceDate": "2023-01-15",
                            "referenceValue": "1234567890"
                          }
                        ],
                        "paymentPurpose": "SVCS",
                        "message": "For lunch",
                        "unicodeEmoji": "U+1F382"
                      },
                      "transactionStatus": "ACSC",
                      "settlementDetails": [
                        {
                          "creditorAccountDetail": {
                            "primaryAccountNumber": "4145124125553222"
                          },
                          "settlementSystem": "VISA_DIRECT",
                          "debtorAccountDetail": {
                            "debtorTaxId": "ABCDE1234567890",
                            "primaryAccountNumber": "4145124125553555"
                          },
                          "settledAmountCurrency": "UAH",
                          "settlementSystemReferenceId": "VIP1111155555",
                          "message": "For lunch",
                          "creditorAckEmoji": "U+1F44D",
                          "creditorAckMessage": "Thank you",
                          "unicodeEmoji": "U+1F4B8",
                          "settledAmount": 10,
                          "settlementSystemReferenceType": "RRN"
                        },
                        {
                          "creditorAccountDetail": {
                            "primaryAccountNumber": "4145124125553222"
                          },
                          "settlementSystem": "VISA_DIRECT",
                          "debtorAccountDetail": {
                            "debtorTaxId": "ABCDE1234567890",
                            "primaryAccountNumber": "4145124125553555"
                          },
                          "settledAmountCurrency": "UAH",
                          "settlementSystemReferenceId": "VIP2222266666",
                          "message": "For lunch",
                          "creditorAckEmoji": "U+1F44D",
                          "creditorAckMessage": "Thank you",
                          "unicodeEmoji": "U+1F4B8",
                          "settledAmount": 90,
                          "settlementSystemReferenceType": "RRN"
                        }
                      ],
                      "dueDate": "2021-03-17",
                      "requestOptions": {
                        "allowMultiplePayments": true,
                        "closeWithFirstPayment": false,
                        "reminderSchedule": [
                          "2023-05-30T09:30:47Z",
                          "2023-06-11T11:22:33Z",
                          "2023-07-11T11:45:13Z"
                        ]
                      },
                      "useCase": "B2C",
                      "settlementOptions": [
                        {
                          "settlementSystem": "VISA_DIRECT",
                          "primaryAccountNumber": "4145124125553222"
                        }
                      ],
                      "creditor": {
                        "creditorLastName": "F.",
                        "creditorAliasType": "MOBL",
                        "creditorFirstName": "Alex",
                        "creditorCountry": "UA",
                        "creditorAgentId": "12379879797989",
                        "creditorAgentCountry": "US",
                        "creditorBusinessName": "Mini-Corp Inc.",
                        "creditorAlias": "+1231231234",
                        "creditorMcc": "1234",
                        "creditorId": "BL1234567890",
                        "creditorIdType": "AGENT",
                        "nationalIdentifiers": [
                          {
                            "type": "PASSPORT",
                            "value": "LB44889298222"
                          }
                        ],
                        "creditorTaxId": "HMRC1234567890"
                      },
                      "paymentRequestCreationDateTime": "2020-12-17T09:30:47Z",
                      "paymentRequest": {
                        "paymentRequestId": "RFP01314",
                        "endToEndId": "RFPid0001",
                        "debtorAgentId": "VD123445",
                        "acceptedAmount": 100,
                        "debtorLastName": "F.",
                        "debtorAlias": "+447709123457",
                        "debtorAgentCountry": "UA",
                        "debtorCountry": "UA",
                        "requestedAmount": 100,
                        "requestedAmountCurrency": "UAH",
                        "acceptedAmountCurrency": "UAH",
                        "debtorFirstName": "Alex",
                        "debtorAliasType": "MOBL"
                      },
                      "creationDateTime": "2020-12-17T09:30:47Z"
                    }
                  },
                  "Retrieve by Creditor Agent (P2P)": {
                    "summary": "Retrieve by Creditor Agent (P2P)",
                    "value": {
                      "product": "VD",
                      "responseMessageId": "GG9983636387737JH",
                      "requestReason": {
                        "message": "For lunch",
                        "unicodeEmoji": "U+1F382"
                      },
                      "transactionStatus": "ACSC",
                      "settlementDetails": [
                        {
                          "creditorAccountDetail": {
                            "primaryAccountNumber": "4145124125553222"
                          },
                          "settlementSystem": "VISA_DIRECT",
                          "debtorAccountDetail": {
                            "primaryAccountNumber": "4145124125553555"
                          },
                          "settledAmountCurrency": "UAH",
                          "settlementSystemReferenceId": "VIP1111155555",
                          "message": "For lunch",
                          "creditorAckEmoji": "U+1F44D",
                          "creditorAckMessage": "Thank you",
                          "unicodeEmoji": "U+1F4B8",
                          "settledAmount": 10,
                          "settlementSystemReferenceType": "RRN"
                        },
                        {
                          "creditorAccountDetail": {
                            "primaryAccountNumber": "4145124125553222"
                          },
                          "settlementSystem": "VISA_DIRECT",
                          "debtorAccountDetail": {
                            "primaryAccountNumber": "4145124125553555"
                          },
                          "settledAmountCurrency": "UAH",
                          "settlementSystemReferenceId": "VIP2222266666",
                          "message": "For lunch",
                          "creditorAckEmoji": "U+1F44D",
                          "creditorAckMessage": "Thank you",
                          "unicodeEmoji": "U+1F4B8",
                          "settledAmount": 90,
                          "settlementSystemReferenceType": "RRN"
                        }
                      ],
                      "dueDate": "2021-03-17",
                      "requestOptions": {
                        "allowMultiplePayments": true,
                        "closeWithFirstPayment": false,
                        "reminderSchedule": [
                          "2023-05-30T09:30:47Z",
                          "2023-06-11T11:22:33Z",
                          "2023-07-11T11:45:13Z"
                        ]
                      },
                      "useCase": "P2P",
                      "settlementOptions": [
                        {
                          "settlementSystem": "VISA_DIRECT",
                          "primaryAccountNumber": "4145124125553222"
                        }
                      ],
                      "creditor": {
                        "creditorCountry": "UA",
                        "creditorAgentId": "12379879797989",
                        "creditorAgentCountry": "US",
                        "creditorAlias": "+1231231234",
                        "creditorLastName": "F.",
                        "creditorAliasType": "MOBL",
                        "creditorId": "BL1234567890",
                        "creditorIdType": "AGENT",
                        "creditorFirstName": "Alex"
                      },
                      "paymentRequestCreationDateTime": "2020-12-17T09:30:47Z",
                      "paymentRequest": {
                        "paymentRequestId": "RFP01314",
                        "endToEndId": "RFPid0001",
                        "debtorAgentId": "VD123445",
                        "acceptedAmount": 100,
                        "debtorLastName": "F.",
                        "debtorAlias": "+447709123457",
                        "debtorAgentCountry": "UA",
                        "debtorCountry": "UA",
                        "requestedAmount": 100,
                        "requestedAmountCurrency": "UAH",
                        "acceptedAmountCurrency": "UAH",
                        "debtorFirstName": "Alex",
                        "debtorAliasType": "MOBL"
                      },
                      "creationDateTime": "2020-12-17T09:30:47Z"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Retrieve response payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                },
                "examples": {
                  "Invalid PaymentRequestId": {
                    "value": {
                      "code": "RC2000",
                      "details": [
                        {
                          "field": "paymentRequestId",
                          "reason": "Not found"
                        }
                      ],
                      "message": "Business Validation Failure",
                      "creationDateTime": "2020-12-17T09:30:48Z",
                      "requestMessageId": "GG9983636387737JH",
                      "responseMessageId": "DF3287943984732SH"
                    }
                  }
                }
              }
            }
          }
        },
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1rtx~1api~1v1~1requestToPay~1{paymentRequestId}/get",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/rtx/api/v1/requestToPay/{paymentRequestId}/amend": {
      "patch": {
        "tags": [
          "Request to Pay"
        ],
        "summary": "Amend R2P",
        "description": "Amend a Request to Pay",
        "operationId": "AmendR2Pinbound",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/core_vdp_contentType"
            }
          },
          {
            "name": "keyID",
            "in": "header",
            "description": "VDP project key ID used to manage access to the Request to Pay service and identify associated encryption keys.",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/core_vdp_keyId"
            }
          },
          {
            "name": "x-request-affinity",
            "in": "header",
            "description": "Visa provided value for transaction affinity handling. This value is provided during the Initiate Request to Pay API flow.",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/core_request_affinity"
            }
          },
          {
            "name": "paymentRequestId",
            "in": "path",
            "description": "Request to Pay transaction ID previously provided by Visa.",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/r2p_paymentRequestId"
            }
          }
        ],
        "requestBody": {
          "description": "*Amend Request to Pay* is used by the creditor agent to amend previously raised Request To Pay. It can be used to amend any request to pay that is not in a terminal status such as RJCT/ACSC/EXPD/CNCL.\n\nIt is also used by Visa to notify debtor agents of these updates.\n\n---\n",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/amendR2pRequest"
              },
              "examples": {
                "Amend Request to Visa": {
                  "summary": "Amend Request to Visa",
                  "value": {
                    "requestReason": {
                      "message": "For lunch",
                      "unicodeEmoji": "U+1F382"
                    },
                    "dueDate": "2023-10-10",
                    "requestMessageId": "GG9983636387737JH",
                    "settlementOptions": [
                      {
                        "settlementSystem": "VISA_DIRECT",
                        "primaryAccountNumber": "4145124125553222"
                      }
                    ],
                    "requestOptions": {
                      "reminderSchedule": [
                        "2023-05-30T09:30:47Z",
                        "2023-06-11T11:22:33Z",
                        "2023-07-11T11:45:13Z"
                      ]
                    },
                    "paymentRequest": {
                      "requestedAmount": 100.11
                    },
                    "creationDateTime": "2020-12-17T09:30:47Z"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response Payload from Visa to the Payee service provider.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/amendR2pResponse"
                },
                "examples": {
                  "Amend Request to Visa": {
                    "summary": "Amend Request to Visa",
                    "value": {
                      "responseMessageId": "DF3287943984732SH",
                      "transactionStatus": "PDNG",
                      "paymentRequestId": "RFP01314",
                      "requestMessageId": "GG9983636387737JH",
                      "creationDateTime": "2020-12-17T09:30:48Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        },
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1rtx~1api~1v1~1requestToPay~1{paymentRequestId}~1amend/patch",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/rtx/api/v1/requestToPay": {
      "post": {
        "tags": [
          "Request to Pay"
        ],
        "summary": "Initiate R2P",
        "description": "Initiate Request to Pay is used by payee service providers to create R2P transactions for their end users.",
        "operationId": "InitiateR2P",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/core_vdp_contentType"
            }
          },
          {
            "name": "keyID",
            "in": "header",
            "description": "VDP project key ID used to manage access to the Request to Pay service and identify associated encryption keys.",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/core_vdp_keyId"
            }
          },
          {
            "name": "x-request-affinity",
            "in": "header",
            "description": "Visa provided value for transaction affinity handling. This value will be provided by Visa in the response to this API call for use in subsequent calls related to the Request to Pay transactions.",
            "required": false,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/core_request_affinity"
            }
          }
        ],
        "requestBody": {
          "description": "*Initiate Request to Pay* is used by payee service providers to create R2P transactions for their end users.\n\nThe request payload for an *Initiate Request to Pay* contains the basic elements required to process a Request to Pay. These include creditor/payee details, debtor/payer details, the request reason, and options that the creditor can accept to settle the request (e.g. creditor card or bank details).\n\n---\n",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/initiateR2pRequest_toVisa"
              },
              "examples": {
                "Initiate B2C Request to Visa": {
                  "summary": "Initiate B2C Request to Visa",
                  "value": {
                    "product": "VD",
                    "useCase": "B2C",
                    "requestReason": {
                      "references": [
                        {
                          "referenceType": "INVOICEID",
                          "referenceDate": "2023-01-15",
                          "referenceValue": "1234567890"
                        }
                      ],
                      "paymentPurpose": "SVCS",
                      "message": "For lunch",
                      "unicodeEmoji": "U+1F382"
                    },
                    "paymentRequests": [
                      {
                        "debtorLastName": "B.",
                        "debtorAlias": "+447709123457",
                        "debtorAgentCountry": "UA",
                        "debtorCountry": "UA",
                        "requestedAmount": 100,
                        "requestedAmountCurrency": "UAH",
                        "endToEndId": "RFPid0001",
                        "debtorFirstName": "John",
                        "debtorAgentId": "VD123445",
                        "debtorAliasType": "MOBL"
                      }
                    ],
                    "dueDate": "2021-03-17",
                    "requestMessageId": "GG9983636387737JH",
                    "settlementOptions": [
                      {
                        "settlementSystem": "VISA_DIRECT",
                        "primaryAccountNumber": "4145124125553222"
                      }
                    ],
                    "creditor": {
                      "creditorLastName": "F.",
                      "creditorAliasType": "MOBL",
                      "creditorFirstName": "Alex",
                      "creditorCountry": "UA",
                      "creditorAgentId": "12379879797989",
                      "creditorAgentCountry": "UA",
                      "creditorBusinessName": "Mini-Corp Inc.",
                      "creditorAlias": "+1231231234",
                      "creditorMcc": "1234",
                      "creditorId": "BL1234567890",
                      "creditorIdType": "AGENT",
                      "nationalIdentifiers": [
                        {
                          "type": "PASSPORT",
                          "value": "LB44889298222"
                        }
                      ],
                      "creditorTaxId": "HMRC1234567890"
                    },
                    "requestOptions": {
                      "allowMultiplePayments": true,
                      "closeWithFirstPayment": false,
                      "reminderSchedule": [
                        "2023-05-30T09:30:47Z",
                        "2023-06-11T11:22:33Z",
                        "2023-07-11T11:45:13Z"
                      ]
                    },
                    "creationDateTime": "2020-12-17T09:30:47Z"
                  }
                },
                "Initiate P2P Request to Visa": {
                  "summary": "Initiate P2P Request to Visa",
                  "value": {
                    "product": "VD",
                    "useCase": "P2P",
                    "requestReason": {
                      "message": "For lunch",
                      "unicodeEmoji": "U+1F382"
                    },
                    "paymentRequests": [
                      {
                        "debtorLastName": "B.",
                        "debtorAlias": "+447709123457",
                        "debtorAgentCountry": "UA",
                        "debtorCountry": "UA",
                        "requestedAmount": 100,
                        "requestedAmountCurrency": "UAH",
                        "endToEndId": "RFPid0001",
                        "debtorFirstName": "John",
                        "debtorAgentId": "VD123445",
                        "debtorAliasType": "MOBL"
                      }
                    ],
                    "dueDate": "2021-03-17",
                    "requestMessageId": "GG9983636387737JH",
                    "settlementOptions": [
                      {
                        "settlementSystem": "VISA_DIRECT",
                        "primaryAccountNumber": "4145124125553228"
                      }
                    ],
                    "creditor": {
                      "creditorCountry": "UA",
                      "creditorAgentId": "12379879797989",
                      "creditorAgentCountry": "UA",
                      "creditorAlias": "+1231231234",
                      "creditorLastName": "F.",
                      "creditorAliasType": "MOBL",
                      "creditorId": "BL1234567890",
                      "creditorIdType": "AGENT",
                      "creditorFirstName": "Alex"
                    },
                    "requestOptions": {
                      "allowMultiplePayments": true,
                      "closeWithFirstPayment": false,
                      "reminderSchedule": [
                        "2023-05-30T09:30:47Z",
                        "2023-06-11T11:22:33Z",
                        "2023-07-11T11:45:13Z"
                      ]
                    },
                    "creationDateTime": "2020-12-17T09:30:47Z"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The response payload for an Initiate Request to Pay provides the status of the Request to Pay transactions initiated together with the Visa references for them.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/initiateR2pResponse-2"
                },
                "examples": {
                  "Initiate B2C Request to Visa": {
                    "summary": "Initiate B2C Request to Visa",
                    "value": {
                      "responseMessageId": "DF3287943984732SH",
                      "paymentRequests": [
                        {
                          "transactionStatus": "PDNG",
                          "paymentRequestId": "RFP01314",
                          "endToEndId": "RFPid0001"
                        }
                      ],
                      "requestMessageId": "GG9983636387737JH",
                      "creationDateTime": "2020-12-17T09:30:48Z"
                    }
                  },
                  "Initiate P2P Request to Visa": {
                    "summary": "Initiate P2P Request to Visa",
                    "value": {
                      "responseMessageId": "DF3287943984732SH",
                      "paymentRequests": [
                        {
                          "transactionStatus": "PDNG",
                          "paymentRequestId": "RFP01314",
                          "endToEndId": "RFPid0001"
                        }
                      ],
                      "requestMessageId": "GG9983636387737JH",
                      "creationDateTime": "2020-12-17T09:30:48Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                },
                "examples": {
                  "Unknown Payer": {
                    "value": {
                      "code": "RC4000",
                      "details": [
                        {
                          "field": "debtorAlias",
                          "reason": "unknownEntity"
                        }
                      ],
                      "message": "Payer not reachable",
                      "creationDateTime": "2020-12-17T09:30:48Z",
                      "requestMessageId": "GG9983636387737JH",
                      "responseMessageId": "DF3287943984732SH"
                    }
                  }
                }
              }
            }
          }
        },
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1rtx~1api~1v1~1requestToPay/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "rtx/api/v1/requestToPay/transaction/tag": {
      "post": {
        "tags": [
          "Request to Pay"
        ],
        "summary": "Transaction Tagging",
        "description": "Transaction Tagging",
        "operationId": "TransactionTaggingInbound",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/core_vdp_contentType"
            }
          },
          {
            "name": "keyID",
            "in": "header",
            "description": "VDP project key ID used to manage access to the Transaction Tagging service and identify associated encryption keys.",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/core_vdp_keyId"
            }
          },
          {
            "name": "x-request-affinity",
            "in": "header",
            "description": "Visa provided value for transaction affinity handling.",
            "required": false,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/core_request_affinity"
            }
          }
        ],
        "requestBody": {
          "description": "*Transaction Tagging* enables users to attach or tag specific information to a transaction. Currently, it can be used by a payee/creditor to send a payment acknowledgment to the payer /debtor.\n\nIt is also used by Visa to notify debtor agents of these updates.\n\n---\n",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionTaggingRequest-1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response Payload from Visa to the Payee service provider."
          },
          "400": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        },
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/rtx~1api~1v1~1requestToPay~1transaction~1tag/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/rtx/api/v1/requestToPay/{paymentRequestId}/confirm": {
      "patch": {
        "tags": [
          "Request to Pay"
        ],
        "summary": "Confirm R2P",
        "description": "Confirm Request to Pay is used by payer service providers to provide an initial update to Visa on the status of the Request to Pay based on their initial processing and/or interaction with the end user. It is also used by payee service providers to be notified by Visa of these updates.",
        "operationId": "ConfirmR2Poutbound",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/core_vdp_contentType"
            }
          },
          {
            "name": "keyID",
            "in": "header",
            "description": "VDP project key ID used to manage access to the Request to Pay service and identify associated encryption keys.",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/core_vdp_keyId"
            }
          },
          {
            "name": "x-request-affinity",
            "in": "header",
            "description": "Visa provided value for transaction affinity handling. This value is provided during the Initiate Request to Pay API flow.",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/core_request_affinity"
            }
          },
          {
            "name": "paymentRequestId",
            "in": "path",
            "description": "Request to Pay transaction ID previously provided by Visa.",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/r2p_paymentRequestId"
            }
          }
        ],
        "requestBody": {
          "description": "*Confirm Request to Pay* is used by payer service providers to provide an initial update to Visa on the status of the R2P based on their initial processing and/or interaction with the end user.\n\nIt is also used by payee service providers to be notified by Visa of these updates.\n\n---\n",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/confirmR2pRequest"
              },
              "examples": {
                "Request to Pay declined": {
                  "summary": "Request to Pay declined",
                  "value": {
                    "statusReason": "RJ02",
                    "transactionStatus": "RJCT",
                    "paymentRequestId": "RFP01314",
                    "requestMessageId": "GG9983636387737JH",
                    "message": "Rejected by Payer",
                    "endToEndId": "RFPid0001",
                    "creationDateTime": "2020-12-17T09:30:47Z"
                  }
                },
                "Request to pay unsuccessful with the settlement option provided": {
                  "summary": "Request to pay unsuccessful with the settlement option provided",
                  "value": {
                    "statusReason": "RJ04",
                    "transactionStatus": "RJCT",
                    "paymentRequestId": "RFP01314",
                    "requestMessageId": "GG9983636387737JJ",
                    "message": "Payment cannot be completed between payee and payer using the  settlementOption               provided.",
                    "endToEndId": "RFPid0002",
                    "creationDateTime": "2020-12-17T09:30:47Z"
                  }
                },
                "Request to pay partially settled": {
                  "summary": "Request to pay partially settled",
                  "value": {
                    "acceptedAmount": 100,
                    "transactionStatus": "ACCP",
                    "settlementDetails": {
                      "creditorAccountDetail": {
                        "primaryAccountNumber": "4145124125553222"
                      },
                      "settlementSystem": "VISA_DIRECT",
                      "debtorAccountDetail": {
                        "debtorTaxId": "ABCDE1234567890",
                        "primaryAccountNumber": "4145124125553555"
                      },
                      "settledAmountCurrency": "UAH",
                      "settlementSystemReferenceId": "VIP1111155555",
                      "message": "For lunch",
                      "unicodeEmoji": "U+1F4B8",
                      "settledAmount": 10,
                      "settlementSystemReferenceType": "RRN"
                    },
                    "paymentRequestId": "RFP01314",
                    "requestMessageId": "GG9983636387737JH",
                    "endToEndId": "RFPid0001",
                    "acceptedAmountCurrency": "UAH",
                    "creationDateTime": "2020-12-17T09:30:47Z"
                  }
                },
                "Decline Request to Pay and block creditor": {
                  "summary": "Decline Request to Pay and block creditor",
                  "value": {
                    "statusReason": "RJ03",
                    "transactionStatus": "RJCT",
                    "paymentRequestId": "RFP01314",
                    "requestMessageId": "GG9983636387737JH",
                    "message": "Rejected by Payer",
                    "endToEndId": "RFPid0001",
                    "creationDateTime": "2020-12-17T09:30:47Z"
                  }
                },
                "Request to Pay accepted": {
                  "summary": "Request to Pay accepted",
                  "value": {
                    "acceptedAmount": 100,
                    "transactionStatus": "ACSC",
                    "settlementDetails": {
                      "creditorAccountDetail": {
                        "primaryAccountNumber": "4145124125553222"
                      },
                      "settlementSystem": "VISA_DIRECT",
                      "debtorAccountDetail": {
                        "debtorTaxId": "ABCDE1234567890",
                        "primaryAccountNumber": "4145124125553555"
                      },
                      "settledAmountCurrency": "UAH",
                      "settlementSystemReferenceId": "VIP1234567890",
                      "message": "For lunch",
                      "unicodeEmoji": "U+1F4B8",
                      "settledAmount": 100,
                      "settlementSystemReferenceType": "RRN"
                    },
                    "paymentRequestId": "RFP01314",
                    "requestMessageId": "GG9983636387737JH",
                    "endToEndId": "RFPid0001",
                    "acceptedAmountCurrency": "UAH",
                    "creationDateTime": "2020-12-17T09:30:47Z"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response Payload from Visa to the Payer service provider.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/confirmR2pResponse"
                },
                "examples": {
                  "Request to Pay declined": {
                    "summary": "Request to Pay declined",
                    "value": {
                      "responseMessageId": "DF3287943984732SH",
                      "transactionStatus": "RJCT",
                      "paymentRequestId": "RFP01314",
                      "requestMessageId": "GG9983636387737JH",
                      "endToEndId": "RFPid0001",
                      "creationDateTime": "2020-12-17T09:30:48Z"
                    }
                  },
                  "Request to pay unsuccessful with the settlement option provided": {
                    "summary": "Request to pay unsuccessful with the settlement option provided",
                    "value": {
                      "responseMessageId": "DF3287943984732SH",
                      "transactionStatus": "RJCT",
                      "paymentRequestId": "RFP01314",
                      "requestMessageId": "GG9983636387737JH",
                      "endToEndId": "RFPid0002",
                      "creationDateTime": "2020-12-17T09:30:48Z"
                    }
                  },
                  "Request to pay partially settled": {
                    "summary": "Request to pay partially settled",
                    "value": {
                      "responseMessageId": "DF3287943984732SH",
                      "transactionStatus": "ACCP",
                      "paymentRequestId": "RFP01314",
                      "requestMessageId": "GG9983636387737JH",
                      "endToEndId": "RFPid0001",
                      "creationDateTime": "2020-12-17T09:30:48Z"
                    }
                  },
                  "Decline Request to Pay and block creditor": {
                    "summary": "Decline Request to Pay and block creditor",
                    "value": {
                      "responseMessageId": "DF3287943984732SH",
                      "transactionStatus": "RJCT",
                      "paymentRequestId": "RFP01314",
                      "requestMessageId": "GG9983636387737JH",
                      "endToEndId": "RFPid0001",
                      "creationDateTime": "2020-12-17T09:30:48Z"
                    }
                  },
                  "Request to Pay accepted": {
                    "summary": "Request to Pay accepted",
                    "value": {
                      "responseMessageId": "DF3287943984732SH",
                      "transactionStatus": "ACSC",
                      "paymentRequestId": "RFP01314",
                      "requestMessageId": "GG9983636387737JH",
                      "endToEndId": "RFPid0001",
                      "creationDateTime": "2020-12-17T09:30:48Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        },
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1rtx~1api~1v1~1requestToPay~1{paymentRequestId}~1confirm/patch",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/rtx/api/v1/requestToPay/{paymentRequestId}/cancel": {
      "patch": {
        "tags": [
          "Request to Pay"
        ],
        "summary": "Cancel R2P",
        "description": "Cancel a Request to Pay",
        "operationId": "CancelR2P",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/core_vdp_contentType"
            }
          },
          {
            "name": "x-request-affinity",
            "in": "header",
            "description": "Visa provided value for transaction affinity handling. This value is provided during the Initiate Request to Pay API flow.",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/core_request_affinity"
            }
          },
          {
            "name": "keyID",
            "in": "header",
            "description": "VDP project key ID used to manage access to the Request to Pay service and identify associated encryption keys.",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/core_vdp_keyId"
            }
          },
          {
            "name": "paymentRequestId",
            "in": "path",
            "description": "Request to Pay transaction ID previously provided by Visa.",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/r2p_paymentRequestId"
            }
          }
        ],
        "requestBody": {
          "description": "*Cancel Request to Pay* is used by the creditor agent to cancel previously raised Request To Pay. It can be used to cancel any requests to pay that is not in a terminal status such as RJCT.\n\nIt is also used by Visa to notify debtor agents of the cancellation.\n\n---\n",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/cancelR2pRequest"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "cancellationReason": "PAID",
                    "requestMessageId": "2c253f102c50-493b-b2c5-847d7f50b029",
                    "creationDateTime": "2020-12-17T09:30:47Z"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response Payload from Visa to the Payee Service Provider",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cancelR2pResponse"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "responseMessageId": "e96defb2c71f41f9bdbc9e4448a23df7",
                      "transactionStatus": "CNCL",
                      "requestMessageId": "2c253f102c50-493b-b2c5-847d7f50b029",
                      "creationDateTime": "2020-12-17T09:30:47Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        },
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1rtx~1api~1v1~1requestToPay~1{paymentRequestId}~1cancel/patch",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/rtx/api/v1/requestToPay/retrieve": {
      "post": {
        "tags": [
          "Request to Pay"
        ],
        "summary": "Retrieve Multiple R2P",
        "description": "Retrieve Data for Multiple R2Ps based on EndtoEndId or PaymentRequestIds",
        "operationId": "RetrieveMultipleR2P",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/core_vdp_contentType"
            }
          },
          {
            "name": "keyID",
            "in": "header",
            "description": "VDP project key ID used to manage access to the Request to Pay service and identify associated encryption keys.",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/core_vdp_keyId"
            }
          },
          {
            "name": "x-request-affinity",
            "in": "header",
            "description": "Visa provided value for transaction affinity handling. This value is provided during the Initiate Request to Pay API flow.",
            "required": false,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/core_request_affinity"
            }
          }
        ],
        "requestBody": {
          "description": "*Retrieve multiple Request to Pays* is used to pull full Request to Pay information for a series of Request to Pay transactions. It allows the caller to retrieve the transactions using either the paymentRequestId or the associated endToEndId.\n",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/retrieveR2pByPaymentRequestIdsRequest"
                  },
                  {
                    "$ref": "#/components/schemas/retrieveR2pByEndToEndIdsRequest"
                  }
                ]
              },
              "examples": {
                "Retrieve by EndToEndIds": {
                  "summary": "Retrieve by EndToEndIds",
                  "value": {
                    "agentId": "VD123445",
                    "endToEndIds": [
                      "RFPid0001",
                      "RFPid0002"
                    ]
                  }
                },
                "Retrieve by PaymentRequestIds": {
                  "summary": "Retrieve by PaymentRequestIds",
                  "value": {
                    "agentId": "VD123445",
                    "paymentRequestIds": [
                      "RFP01314",
                      "RFP1235"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "This retrieves the full details of one or more Request to Pay transactions from the Visa platform.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/multipleRetrieveR2pResponse"
                },
                "examples": {
                  "Retrieve by EndToEndIds": {
                    "summary": "Retrieve by EndToEndIds",
                    "value": {
                      "paymentRequestDetails": [
                        {
                          "product": "VD",
                          "responseMessageId": "GG9983636387737JH",
                          "requestReason": {
                            "references": [
                              {
                                "referenceType": "INVOICEID",
                                "referenceDate": "2023-01-15",
                                "referenceValue": "1234567890"
                              }
                            ],
                            "paymentPurpose": "SVCS",
                            "message": "For lunch",
                            "unicodeEmoji": "U+1F382"
                          },
                          "transactionStatus": "ACSC",
                          "settlementDetails": [
                            {
                              "creditorAccountDetail": {
                                "primaryAccountNumber": "4145124125553222"
                              },
                              "settlementSystem": "VISA_DIRECT",
                              "debtorAccountDetail": {
                                "debtorTaxId": "ABCDE1234567890",
                                "primaryAccountNumber": "4145124125553555"
                              },
                              "settledAmountCurrency": "UAH",
                              "settlementSystemReferenceId": "VIP1234567890",
                              "settlemenSystemReferenceType": "RRN",
                              "message": "For lunch",
                              "creditorAckEmoji": "U+1F44D",
                              "creditorAckMessage": "Thank you",
                              "unicodeEmoji": "U+1F4B8",
                              "settledAmount": 10
                            },
                            {
                              "creditorAccountDetail": {
                                "primaryAccountNumber": "4145124125553222"
                              },
                              "settlementSystem": "VISA_DIRECT",
                              "debtorAccountDetail": {
                                "debtorTaxId": "ABCDE1234567890",
                                "primaryAccountNumber": "4145124125553555"
                              },
                              "settledAmountCurrency": "UAH",
                              "settlementSystemReferenceId": "VIP1234567890",
                              "settlemenSystemReferenceType": "RRN",
                              "message": "For lunch",
                              "creditorAckEmoji": "U+1F44D",
                              "creditorAckMessage": "Thank you",
                              "unicodeEmoji": "U+1F4B8",
                              "settledAmount": 100
                            }
                          ],
                          "dueDate": "2021-03-17",
                          "requestOptions": {
                            "allowMultiplePayments": true,
                            "closeWithFirstPayment": false,
                            "reminderSchedule": [
                              "2023-05-30T09:30:47Z",
                              "2023-06-11T11:22:33Z",
                              "2023-07-11T11:45:13Z"
                            ]
                          },
                          "useCase": "B2C",
                          "settlementOptions": [
                            {
                              "settlementSystem": "VISA_DIRECT",
                              "primaryAccountNumber": "4145124125553222"
                            }
                          ],
                          "creditor": {
                            "creditorLastName": "F.",
                            "creditorAliasType": "MOBL",
                            "creditorFirstName": "Alex",
                            "creditorCountry": "UA",
                            "creditorAgentId": "12379879797989",
                            "creditorAgentCountry": "US",
                            "creditorBusinessName": "Mini-Corp Inc.",
                            "creditorAlias": "+1231231234",
                            "creditorMcc": "1234",
                            "creditorId": "BL1234567890",
                            "creditorIdType": "AGENT",
                            "nationalIdentifiers": [
                              {
[...]
